.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head-text {
   position: relative;
}
.text-on-image {
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 15%;
}

.register-box {
  position: relative;
  top:00px;
  left:300%;
  transform: translate(-50%, -50%);
  background-color: rgba(70, 65, 65, 0.8);
  padding: 30px 40px;
  width:400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000050;
}


.login-box {
  position: relative;
  top:00px;
  left:130%;
  transform: translate(-50%, -50%);
  background-color: rgba(70, 65, 65, 0.8);
  padding: 30px 40px;
  width:400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000050;
}

.reservation-box {
  position: absolute;
  left: 50%;
  margin: 200px 350px;
  transform: translate(-50%, -50%);
  background-color: rgba(70, 65, 65, 0.8);
  padding: 30px 40px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000050;
  box-shadow: 0px 0px 10px #00000050;
}


.login {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root, .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
